*::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body{
    font-family: 'Roboto Mono', monospace;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
img{
    width: 100vw;

}
@keyframes prompt{
    0%{left:0%}
    100%{left:-200%}
}
@keyframes transitionAnim{
}
.contentTile{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-position: center; /* Center the image */
    background-size: cover;
    opacity: 0%;
    z-index: -10;
    transition: all 0.5s;
}
.bigText{
    position: relative;
    font-size: 15vh;
    bottom: 10vh;
    color: black;
}
.navBtn{
    position: fixed;
    z-index: 20;
}
.nex{
    right: 2%;
    bottom: 2%;
}
.prev{
    left: 2%;
    bottom: 2%;
}
.on{
    opacity: 100%;
    z-index: 10;
}