/*font-family: 'Amatic SC', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Merriweather', serif;
font-family: 'Monoton', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway Dots', cursive;
*/
*::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
p,h1,h2,h3{
    margin: 0;
}
@keyframes leftTextPop{
    from{
        letter-spacing: 50px;
        left: -200%;
    }to{
        letter-spacing: 0px;
        left: 10%;
    }
}
@keyframes rightTextPop{
    from{
        letter-spacing: 50px;
        left: 200%;
    }to{
        letter-spacing: 0px;
        left: 10%;
    }
}
@keyframes downFadeTextPop{
    0%{
        opacity: 0%;
        background-color: #ffffff;
        top: 100vh;
    }
    50%{
        opacity: 50%;
        background-color: #ffffff;
        top: 70vh;
    }
    100%{
        opacity: 100%;
        background-color: #ffffff;
        top: 70vh;
    }
}
.contentTile{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#nothingHere{
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    white-space: nowrap;
}
#nothingHere h1{
    font-family: 'Amatic SC', cursive;
}
#nothingHere h2{
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-style: italic;
}
#nothingHere1{
    left: -200%;
    position: relative;
    animation-name: leftTextPop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#nothingHere2{
    left: -200%;
    position: relative;
    animation-name: rightTextPop;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#nothingHere3{
    left: -200%;
    position: relative;
    animation-name: leftTextPop;
    animation-duration: 2s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#clickToLeave{
    position: absolute;
    background-color: #ffffff;
    opacity: 0%;
    border-radius: 2px;
    padding: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-style: italic;
    width: 20%;
    top: 80vh;
    left: 10%;
    animation-name: downFadeTextPop;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#dontScroll{
    position: absolute;
    top: 92vh;
    left: 50%;
    width: 30px;
}
.arrComp{
    position: relative;
}
#arrowBot{
    position: relative;
}