*{
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
p,h1,h2,h3{
    
    color: white;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #e2d39a;
}
@keyframes fadeIn{
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}
@keyframes leftTextPop{
    from{
        letter-spacing: 50px;
        transform: translateX(100vw);
    }to{
        letter-spacing: 0px;
        transform: translateX(0vw);
    }
}
@keyframes rightTextPop{
    from{
        letter-spacing: 50px;
        transform: translateX(-500vw);
    }to{
        letter-spacing: 0px;
        transform: translateX(0vw);
    }
}
@keyframes downFadeTextPop{
    from{
        opacity: 0%;
        transform: translateY(0px);
    }
    50%{
        opacity: 50%;
        transform: translateY(-30px);
    }
    to{
        opacity: 100%;
        transform: translateY(-30px);
    }
}

@keyframes arrowJump{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-8px);
    }
}
@keyframes botRipple{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(2px);
    }
}
.contentTile{
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
#nothingHere{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
    font-size: 6vh;
    white-space: nowrap;
}
#nothingHere h1{
    font-family: 'Amatic SC', cursive;
}
#nothingHere h2{
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-style: italic;
}
#nothingHere1{
    animation-name: leftTextPop;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}
#nothingHere2{
    animation-name: rightTextPop;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}
#nothingHere3{
    animation-name: leftTextPop;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}
#dontScroll{
    position: absolute;
    top: 92vh;
    left: 50%;
    width: 30px;
}
#dontScroll{
    overflow: visible;
    opacity: 0%;
    animation-name: downFadeTextPop;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}
#arrow{
    position: relative;
    top: 13px;
    animation-name: arrowJump;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
#arrowBot{
    position: relative;
    animation-name: botRipple;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
#pDontScroll{
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-style: italic;
    white-space: nowrap;
    transform: translateX(-50px);
}